@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;700&display=swap");

:root {
  --blue-bg-color: #0ea5e9;
  --grey-bg-color: #d1d5db;
  --yellow-accent: #f59e0b;
  font-family: Roboto;
  font-weight: 200;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
}

.header {
  padding: 1px;
  grid-column: 2 / 4;
  grid-row: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}

.search {
  grid-area: 1 / 1;
  display: grid;
  grid-template-columns: 1fr 8fr;
  margin-right: 100px;
}

.search-bar {
  background-color: var(--grey-bg-color);
  border: none;
}

.profile-nav {
  grid-area: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.user-picture {
  border-radius: 50%;
}

.welcome-message {
  grid-area: 2 / 1;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.post-buttons {
  grid-area: 2 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.post-buttons button {
  background-color: var(--blue-bg-color);
  color: white;
  border: none;
}

.sidebar {
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: 1fr 6fr 3fr;
  gap: 20px;
  background-color: var(--blue-bg-color);
  color: white;
  font-weight: bold;
}

.sidebar button {
  background-color: var(--blue-bg-color);
  color: white;
  font-weight: bold;
  border: none;
}

.sidebar-header,
.sidebar button {
  display: flex;
  justify-content: flex-start;
}

.sidebar-nav,
.sidebar-settings {
  display: grid;
}

.sidebar-nav {
  grid-template-rows: repeat(6, 1fr);
}

.sidebar-settings {
  grid-template-rows: repeat(3, 1fr);
}

.sidebar-nav img,
.sidebar-settings img {
  height: 2rem;
  width: 2rem;
}

.main-content {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--grey-bg-color);
  z-index: -1;
}

.projects {
  grid-column: 1;
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: 2rem 1fr;
}

.projects-header {
  grid-row: 1;
}

.project-cards {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  height: 200px;
  width: 300px;
  background-color: white;
  border-left: 5px solid var(--yellow-accent);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}

.announcements {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-rows: 2rem 1fr;
}

.anno-header {
  grid-row: 1;
}

.anno-cards {
  grid-row: 2;
  display: grid;
  grid-template-rows: repeat(autofit, 1fr);
  background-color: white;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}

.trending {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-rows: 2rem 1fr;
}

.trend-header {
  grid-row: 1;
}

.trend-cards {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(autofit, 1fr);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}

.trend-cards button {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: white;
  border: none;
}

.trend-cards img {
  grid-column: 1;
}

.trend-cards p {
  grid-column: 2;
}

img,
.notifications {
  height: 50px;
  width: 50px;
}
